<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/liststyle.css' %}">
    <title>Category List</title>
    <div class="user-info-container">
        <div class="user-info">
            <p>Logged in as: {{ request.user.username }}</p>
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
    </div>
</head>
<body>
    <h1>Category List</h1>
    <div class="sort-options">
        <span>Sort by: </span>
        <select id="sort-select">
            <option value="name-asc">Name A-Z</option>
            <option value="name-desc">Name Z-A</option>
        </select>
    </div>
    <br>
    <ul>
        {% for category in object_list %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <div class="button-container">
        <a href="javascript:history.go(-1);" class="home-button">Back</a>
        <a href="{% url 'home' %}" class="home-button">Home</a>
    </div>
    <script>
        document.getElementById('sort-select').addEventListener('change', function() {
            var selectedOption = this.value;
            var baseUrl = window.location.href.split('?')[0];
            var queryParams = selectedOption.split('-');
            var ordering = queryParams[0];
            var direction = queryParams[1];
            var newUrl = baseUrl + '?ordering=' + ordering + '&direction=' + direction;
            window.location.href = newUrl;
        });
    </script>
</body>
<footer>
        <p>Your Wallet Inc.</p>
</footer>
</html>
