<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/liststyle.css' %}">
    <title>Expenses List</title>
</head>
<body>
    <h1>Expenses List</h1>
    <ul>
        {% for expense in object_list %}
            <li>{{ expense.title }} - Amount: {{ expense.amount }}</li>
        {% endfor %}
    </ul>
</body>
<footer>
        <p>Your Wallet Inc.</p>
</footer>
</html>
