<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
    <title>Your Wallet</title>
    <div class="user-info-container">
        <div class="user-info">
            <p>Logged in as: {{ request.user.username }}</p>
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
    </div>
</head>
<body>
    <h1>Your Wallet</h1>

    <nav>
        <ul>
        <li><a href="{% url 'wallet_list' %}">Wallet List</a></li>
        <li><a href="{% url 'expenses_list' %}">Expenses List</a></li>
        <li><a href="{% url 'revenues_list' %}">Revenues List</a></li>
        <li><a href="{% url 'category_list' %}">Category List</a></li>
        <li><a href="{% url 'wallet_create' %}">Create Wallet</a></li>
        <li><a href="{% url 'expenses_create' %}">Create Expense</a></li>
        <li><a href="{% url 'revenues_create' %}">Create Revenue</a></li>
        <li><a href="{% url 'category_create' %}">Create Category</a></li>
        </ul>
    </nav>
    <footer>
        <p>Your Wallet Inc.</p>
    </footer>
</body>
</html>
