<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/exprevstyle.css' %}">
    <title>{% if form.instance.pk %}Edit Revenue{% else %}Create Revenue{% endif %}</title>
    <div class="user-info-container">
        <div class="user-info">
            <p>Logged in as: {{ request.user.username }}</p>
            <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
    </div>
</head>
<body>
    <h1>{% if form.instance.pk %}Edit Revenue{% else %}Create Revenue{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <div class="button-container">
        <a href="javascript:history.go(-1);" class="home-button">Back</a>
        <a href="{% url 'home' %}" class="home-button">Home</a>
    </div>
</body>
<footer>
        <p>Your Wallet Inc.</p>
</footer>
</html>
