body {
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #ffffff;
}

header {
    background-color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    color: white;
}

form {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
}

form input[type="text"],
form textarea,
form select {
    width: calc(100% - 24px); /* Szerokość */
    padding: 10px; /* Wewnętrzny odstęp */
    margin: 5px 0; /* Marginesy */
    border: none; /* Brak obramowania */
    background-color: #ddd; /* Kolor tła - lekko jaśniejszy niż tło */
    border-radius: 5px; /* Zaokrąglenie rogów */
    color: #333; /* Kolor tekstu */
}

form textarea {
    height: 150px; /* Wysokość pola tekstowego */
}

form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}
