body {
    background-color: #1a1a1a; /* ciemne tło */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #ffffff;
}

h1 {
    text-align: center;
    color: #fff; /* kolor tekstu */
    padding: 20px 0; /* wewnętrzny odstęp w nagłówku */
}

form {
    margin: 0 auto; /* wyśrodkowanie formularza */
    max-width: 600px; /* maksymalna szerokość formularza */
    padding: 20px; /* wewnętrzny odstęp formularza */
    background-color: #333; /* kolor tła formularza */
    border-radius: 5px; /* zaokrąglenie rogów formularza */
}

form select {
    width: calc(100% - 24px); /* Szerokość listy wyboru */
    padding: 10px; /* Wewnętrzny odstęp */
    margin: 5px 0; /* Marginesy */
    border: none; /* Brak obramowania */
    background-color: #fff; /* Kolor tła */
    border-radius: 5px; /* Zaokrąglenie rogów */
}

/* Ustawiamy wszystkie listy wyboru w jednej linii */
form select {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

form input[type="date"] {
    width: calc(100% - 24px); /* Szerokość */
    padding: 10px; /* Wewnętrzny odstęp */
    margin: 5px 0; /* Marginesy */
    border: none; /* Brak obramowania */
    background-color: #bbb; /* Kolor tła - lekko jaśniejszy niż tło */
    border-radius: 5px; /* Zaokrąglenie rogów */
}

form input[type="text"],
form input[type="number"],
form textarea,
form select {
    width: calc(100% - 24px); /* Szerokość */
    padding: 10px; /* Wewnętrzny odstęp */
    margin: 5px 0; /* Marginesy */
    border: none; /* Brak obramowania */
    background-color: #bbb; /* Kolor tła - lekko jaśniejszy niż tło */
    border-radius: 5px; /* Zaokrąglenie rogów */
}

/* Ustawiamy kolor tekstu dla pól do wpisywania i list wyboru */


form textarea {
    height: 150px; /* wysokość pola tekstowego */
}

form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #45a049;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.home-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #45a049;
}

.back-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.back-button:hover {
    background-color: #45a049;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.logout-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: #45a049;
}

.user-info {
    display: flex;
    align-items: center;
    color: white;
    font-size: 17px;
}

.user-info p {
    margin-right: 10px;
    color: white;
}

.user-info-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

#logout-form {
    display: inline;
    padding: 0;
    background-color: transparent;
    border: none;
}

#logout-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#logout-form button:hover {
    background-color: #45a049;
}